/* Contenido principal */

/*
   El layout, el sidebar y el perfil
   se encuentran en common.css.
*/

.dashboard-content h1 {
    margin-top: 0;
    font-size: 32px;
}


.dashboard-content p {
    color: #aaaaaa;
}


.change-photo-button {
    display: inline-block;
    padding: 10px 18px;

    background: linear-gradient(
        135deg,
        #9DDB20,
        #28B8D5
    );

    color: #080808;
    border-radius: 8px;

    font-weight: bold;
    cursor: pointer;
}